---
layout: component.hbs

# Example of using underscore templates
# to externalize the config for the helpers.
# The valuse are set in the Gruntfile, and
# then passed into the context of the repeat
# helper in the page.
number:
  expandright: "<%= repeatOptions.expandright %>"
  expandleft : "<%= repeatOptions.expandleft %>"
  expandup   : "<%= repeatOptions.expandup %>"
  expanddown : "<%= repeatOptions.expanddown %>"
  slideleft  : "<%= repeatOptions.slideleft %>"
  slideright : "<%= repeatOptions.slideright %>"
  slideup    : "<%= repeatOptions.slideup %>"
  slidedown  : "<%= repeatOptions.slidedown %>"
  zoomout    : "<%= repeatOptions.zoomout %>"
  zoomin     : "<%= repeatOptions.zoomin %>"
---

<!-- button.expand-right -->
"repeatOptions.expandright" == number.expandright == {{number.expandright}}

{{#repeat number.expandright}}
<div class="button-demo-wrap">
  {{> button button.expand-right }}
</div>
{{/repeat}}